<div *ngLet="(loadingSearch$ | async) as loading">
  <p-table #dt
           *ngLet="pgSelected$ | async  as pgSelected"
           dataKey="_id"
           (selectionChange)="onSelectionChange($event)"
           [columns]="selectedColumns"
           [paginator]="true"
           [rowsPerPageOptions]="[25,50,100]"
           [rows]="50"
           [showCurrentPageReport]="true"
           [value]="collection$ | async"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           stateKey="statedemo-local" stateStorage="local"
           styleClass="p-datatable-customers">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button (click)="clear(dt); inputElementFilter.value = ''" class="p-button-outlined p-mr-2" icon="pi pi-filter-slash" label="Clear" pButton></button>

        <button type="button" pButton icon="pi pi-download" label="Export" class="p-button-outlined p-mr-2" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items" styleClass="p-button-sm" appendTo="body"></p-menu>

        <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input #inputElementFilter (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search keyword" type="text"/>
        </span>
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" optionDisabled="disabled" class="p-mr-2"
                       selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
        </th>
        <th style="width: 10rem">
          <p-columnFilter field="spells" matchMode="filterDnD" [showMenu]="false" [hideOnClear]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-toggleButton (onChange)="filter($event)" [ngModel]="!value" onIcon="pi pi-filter" offIcon="pi pi-filter-slash"></p-toggleButton>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 6rem">
          Score
        </th>
        <th *ngFor="let col of _selectedColumns">
          {{col.header}}
          <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body" let-expanded="expanded">
      <tr>
        <td style="width: 3rem">
          <button type="button" pButton pRipple [pRowToggler]="item" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>
          <p-skeleton *ngIf="loading" width="120px" height="40px"></p-skeleton>
          <dnd-data-qt-stepper
            *ngIf="!loading"
            [spellsInventory]="item.spells || EMPTY"
            (change)="onInput($event, item, pgSelected)">
          </dnd-data-qt-stepper>
        </td>
        <th class="p-text-left">
          <i class="pi pi-info-circle p-mr-4 p-text-secondary pointer"
             (click)="show(item)"
             pBadge
             style="font-size: 2rem"
             severity="warning"
             [value]="item.info?.score">
          </i>
        </th>
        <th *ngFor="let col of _selectedColumns" class="p-text-left ngrx-debug">
          {{col.renderer ? col.renderer(item[col.field], pgSelected) : item[col.field]}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
      <tr>
        <td [colSpan]="selectedColumns.length+3">
          <div class="p-grid">
            <div class="p-col-12 p-lg-4 p-pt-0 p-pb-0">
              <div>Uame : {{item.name}}</div>
              <div>Range : {{item.range}}</div>
              <div>Subschools : {{item.subschools}}</div>
              <div>Area : {{item.area}}</div>
              <div>Saving Throw : {{item.savingThrow}}</div>
            </div>
            <div class="p-col-12 p-lg-4 p-pt-0 p-pb-0">
              <div>Target : {{item.target}}</div>
              <div>Casting Time : {{item.castingTime}}</div>
              <div>Schools : {{item.schools}}</div>
              <div>Class Levels : {{classLevelToString(item.classLevels)}}</div>
              <div>Source : {{rulebookToString(item.source)}}</div>
            </div>
            <div class="p-col-12 p-lg-4 p-pt-0 p-pb-0">
              <div>Components : {{item.components}}</div>
              <div>Spell Resistance : {{item.spellResistance}}</div>
              <div>Domain Levels : {{item.domainLevels}}</div>
              <div>Duration : {{item.duration}}</div>
              <div>Effect : {{item.effect}}</div>
            </div>
          </div>

          <div class="p-d-flex">Description:</div>
          <div class="p-d-flex p-flex-column p-pl-2" [innerHTML]="item.description"></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
