<p-table #dt
         (selectionChange)="onSelectionChange($event)"
         [globalFilterFields]="['name']"
         [paginator]="true"
         [rowsPerPageOptions]="[10,25,50]" [rows]="10"
         [selection]="_itemsSelected"
         [showCurrentPageReport]="true"
         [value]="_collection"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         stateKey="statedemo-local" stateStorage="local"
         styleClass="p-datatable-customers">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button (click)="clear(dt); inputElementFilter.value = ''" class="p-button-outlined" icon="pi pi-filter-slash" label="Clear" pButton></button>
      <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input #inputElementFilter (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search keyword" type="text"/>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10rem">
      </th>
      <th>
        qt
      </th>
      <th>
        name
      </th>
      <th>
        schools
      </th>
      <th>
        castingTime
      </th>
      <th>
        range
      </th>
      <th style="width: 10em">actions</th>
    </tr>
    <tr>
      <th>
      </th>
      <th>
      </th>
      <th>
        <p-columnFilter field="name" type="text"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="schools" type="text"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="castingTime" type="text"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="range" type="text"></p-columnFilter>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template let-item pTemplate="body">
    <tr>
      <td>
        <!--        <p-tableCheckbox [value]="item"></p-tableCheckbox>-->
        <p-checkbox (onChange)="onChange(item)" [value]="!!_entitiesSelected[item.id]"></p-checkbox>
      </td>
      <td>
        <p-inputNumber (onInput)="onInput($event, item)"
                       [showButtons]="true"
                       buttonLayout="horizontal"
                       decrementButtonClass="p-button-danger"
                       decrementButtonIcon="pi pi-minus"
                       incrementButtonClass="p-button-success"
                       incrementButtonIcon="pi pi-plus"
                       mode="decimal"
                       size="1"
                       spinnerMode="horizontal">
        </p-inputNumber>
      </td>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.schools}}
      </td>
      <td>
        {{item.castingTime}}
      </td>
      <td>
        {{item.range}}
      </td>
      <td>

        <!--        <button pButton pRipple type="button" icon="pi pi-copy" class="p-button-rounded p-button-outlined p-mr-1" (click)="onCopy(item)"></button>-->
        <button (click)="onEdit(item)" class="p-button-rounded p-button-success p-button-outlined p-mr-1" icon="pi pi-pencil" pButton pRipple type="button"></button>
        <!--        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="onDelete(item)"></button>-->

      </td>
    </tr>
  </ng-template>
</p-table>
