<p-dialog (onHide)="cancel()"
          [closable]="false"
          [maximizable]="false"
          [minY]="70"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '70em', minWidth: '200px'}"
          [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
          [visible]="true"
          header="{{title}}">

  <form
    [formGroup]="form"
    class="dynamic-form">

    <div class="p-grid">
      <div class="p-col">
        <label for="id"><strong>id</strong></label><br>
        <input [formControl]="id" class="form-control" id="id" name="id" pInputText type="text"/>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col">
        <label for="name"><strong>name</strong></label><br>
        <input [formControl]="name" class="form-control" id="name" name="name" pInputText type="text"/>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col">
        <label for="class"><strong>Class</strong></label><br>
        <p-dropdown [formControl]="class"
                    [options]="['','Cleric','Paladin','Savant']"
                    appendTo="body"
                    class="form-control"
                    id="class"
                    name="class">
        </p-dropdown>
      </div>
    </div>

  </form>


  <ng-template pTemplate="footer">
    <button (click)="submit(form.getRawValue())" [disabled]="!form.valid" class="p-button-success mr-1" label="save" pButton></button>
    <button (click)="cancel()" label="Cancel" pButton type="button"></button>
  </ng-template>

</p-dialog>
