<p-table (selectionChange)="onSelectionChange($event)" [selection]="itemsSelected$ | async" [value]="collection$ | async">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of cols">
        {{col}}
      </th>
      <th style="width: 10em">actions</th>
    </tr>
  </ng-template>
  <ng-template let-item pTemplate="body">
    <tr>
      <td>
        <p-tableCheckbox [value]="item"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of cols">
        {{item[col]}}
      </td>
      <td>

        <button (click)="onCopy(item)" class="p-button-rounded p-button-outlined p-mr-1" icon="pi pi-copy" pButton pRipple type="button"></button>
        <button (click)="onEdit(item)" class="p-button-rounded p-button-success p-button-outlined p-mr-1" icon="pi pi-pencil" pButton pRipple type="button"></button>
        <button (click)="onDelete(item)" class="p-button-rounded p-button-danger p-button-outlined" icon="pi pi-times" pButton pRipple type="button"></button>

      </td>
    </tr>
  </ng-template>
</p-table>
