@import "apps/dnd-data/src/css/variables";

.circle{
  color: $layoutmainBgColor;
}
.border{
  color: $layoutmainBgColor;
}
.simbol{
  color: $topbarMenuBgColor;
}
.line{
  border-right: solid 4px $layoutmainBgColor;
  //border-right: solid 2px #FFFFFF;
  width: 22px;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  top:0;
}

.fa-stack{
  cursor: pointer;
}
