<p-dialog (onHide)="cancel()"
          [closable]="false"
          [maximizable]="false"
          [minY]="70"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '70em', minWidth: '200px'}"
          [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
          [visible]="true"
          header="{{title}}">

  <div class="p-grid">
    <div class="p-col">
      <form
        [formGroup]="form"
        class="dynamic-form">
        <div *ngFor="let key of keys" class="p-grid">
          <div class="p-col">
            <label for="{{key}}"><strong>{{key}}</strong></label><br>
            <input [formControlName]="key" class="form-control" id="{{key}}" name="{{key}}" pInputText type="text"/>
          </div>
        </div>
      </form>
    </div>
    <div class="p-col">
      <pre>
{{form | jsonForm | json}}
</pre>
    </div>
  </div>


  <ng-template pTemplate="footer">
    <button (click)="submit(form.getRawValue())" class="p-button-success mr-1" label="save" pButton></button>
    <button (click)="cancel()" label="Cancel" pButton type="button"></button>
  </ng-template>

</p-dialog>
