<p-dialog header="{{title}}"
          [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
          [visible]="true"
          [modal]="true"
          [responsive]="true"
          [maximizable]="false"
          [closable]="false"
          (onHide)="cancel()">

  <form
    class="dynamic-form"
    [formGroup]="form">

    <div class="p-grid">

      <div class="p-col">
        <label for="name"><strong>*Name</strong></label><br>
        <input id="name" name="name" type="text" class="form-control" pInputText [formControl]="name"/>
      </div>

      <div class="p-col">
        <label for="classLevels"><strong>*Class levels</strong></label><br>
        <p-multiSelect id="classLevels" name="classLevels"
                       [options]="classLevelsDP$ | async" [formControl]="classLevels" appendTo="body"
                       [virtualScroll]="true" itemSize="30" optionLabel="class"
                       defaultLabel="select class levels" scrollHeight="400px" display="chip">
          <!--          <ng-template let-group pTemplate="">-->
          <!--          </ng-template>-->
          <ng-template let-selectedItems pTemplate="selectedItems">
            <div class="p-d-flex" *ngFor="let item of selectedItems">
              <span>{{item.level}} - {{item.class}}</span>
            </div>
            <div *ngIf="!selectedItems || selectedItems.length === 0" class="country-placeholder">
              Select class levels
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="p-d-flex">
              <span>{{item.level}} - {{item.class}}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>

      <div class="p-col">
        <label for="domainLevels"><strong>*Domain levels</strong></label><br>

        <p-multiSelect id="domainLevels" name="domainLevels"
                       [options]="domainLevelsDP$ | async" [formControl]="domainLevels" appendTo="body"
                       [virtualScroll]="true" itemSize="30" optionLabel="domain"
                       defaultLabel="select class levels" scrollHeight="400px" display="chip">
          <!--          <ng-template let-group pTemplate="">-->
          <!--          </ng-template>-->
          <ng-template let-selectedItems pTemplate="selectedItems">
            <div class="p-d-flex" *ngFor="let item of selectedItems">
              <span>{{item.level}} - {{item.domain}}</span>
            </div>
            <div *ngIf="!selectedItems || selectedItems.length === 0" class="country-placeholder">
              Select domains levels
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div class="p-d-flex">
              <span>{{item.level}} - {{item.domain}}</span>
            </div>
          </ng-template>
        </p-multiSelect>

      </div>

      <div class="p-col">
        <label for="rulebooks"><strong>Rulebooks</strong></label><br>
        <p-multiSelect id="rulebooks" name="rulebooks"
                       [options]="rulebooksDP$ | async" [formControl]="rulebooks" appendTo="body"
                       [virtualScroll]="true" itemSize="30"
                       defaultLabel="select class levels" scrollHeight="400px" display="chip">
          <ng-template let-selectedItems pTemplate="selectedItems">
            <div class="p-d-flex" *ngFor="let item of selectedItems">
              <span>{{item}}</span>
            </div>
            <div *ngIf="!selectedItems || selectedItems.length === 0" class="country-placeholder">
              Select rulebooks
            </div>
          </ng-template>
          <ng-template let-selected pTemplate="item">
            <div class="p-d-flex">
              <span>{{selected | json}}</span>
            </div>
          </ng-template>
        </p-multiSelect>

      </div>

      <div class="p-col">
        <label for="schools"><strong>Schools</strong></label><br>
        <p-multiSelect id="schools" name="schools"
                       [options]="schoolsDP$ | async" [formControl]="schools" appendTo="body"
                       [virtualScroll]="true" itemSize="30"
                       defaultLabel="select class levels" scrollHeight="400px" display="chip">
          <ng-template let-selectedItems pTemplate="selectedItems">
            <div class="p-d-flex" *ngFor="let item of selectedItems">
              <span>{{item}}</span>
            </div>
            <div *ngIf="!selectedItems || selectedItems.length === 0" class="country-placeholder">
              Select schools
            </div>
          </ng-template>
          <ng-template let-selected pTemplate="item">
            <div class="p-d-flex">
              <span>{{selected | json}}</span>
            </div>
          </ng-template>
        </p-multiSelect>

      </div>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-success mr-1" [disabled]="!form.valid" label="save" (click)="submit(form.getRawValue())"></button>
    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
  </ng-template>

</p-dialog>
